#header2 {

    background-color: EE8B8B; 
    color: 491414;
    border: radius;
}

.error {
    background-color: #FEDFDF ;
    border: solid 1px #FFBEBE;
    color: #990C0C;
}

#succes {
    background-color: #C0F4BD ;
    border: solid 1px #78EC62;
    color: #22AF1B;
}

/* .row {
    margin-bottom: .2rem
}

.payment-btn {
    background-color: #6C757D;
} */